* {
  box-sizing: border-box;
}
.logo {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  padding: 1em;
  border-radius: 50px;
}

.dialog {
  position: fixed;
  top: 25px;
  width: 100%;
}
.hero-unit {
  padding: 2em !important;
}

.pull-left {
  position: relative;
  top: -11px;
}
